---
- name: set the repository for consul
  ansible.builtin.get_url:
    url: https://rpm.releases.hashicorp.com/RHEL/hashicorp.repo
    dest: /etc/yum.repos.d/hasticorp.repo
    owner: root
    group: root
  become: true
- name: install packaging
  ansible.builtin.dnf:
    name: "{{ item }}"
    state: present
  loop:
    - python3-packaging >= 20.9
    - python3-pip >= 21.3
