{
  "Volumes": [
    {
      "ID": "{{ item.id }}",
      "Name": "{{ item.name }}",
      "Namespace": "{{ item.namespace }}",
      "PluginID": "{{ nomad_csi_plugin_id }}",
      "MountOptions": {
        "FsType": "{{ item.filesystem }}",
        "MountFlags": ["noatime"]
      },
      "RequestedCapacityMin": {{ item.minsize }},
      "RequestedCapacityMax": {{ item.maxsize }},
      "RequestedCapabilities": [
        {
          "AccessMode": "single-node-writer",
          "AttachmentMode": "file-system"
        },
        {
          "AccessMode": "single-node-writer",
          "AttachmentMode": "block-device"
        }
      ]
    }
  ]
}

